streamlit==1.36.0
requests==2.32.3
beautifulsoup4==4.12.3
youtube-transcript-api==0.6.2
transformers==4.41.0
spacy==3.7.4
gTTS==2.5.1
torch==2.2.2
sentencepiece==0.2.0
numpy==1.26.4
protobuf==4.25.3
yt-dlp
deep-translator==1.11.4
langdetect==1.0.9
watchdog==6.0.0
